* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  text-align: center;
  transition: all 1s;
}
.main-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .main-container {
    max-width: 800px;
    padding: 50px;
  }
}

:root {
  /* 배경색 */
  --bg-primary: #044a0c;

  /* 강조색 */
  --color-accent: #fcee21;
  --color-accent-hover: #fdd835;
  --color-accent-active: #fbc02d;

  /* 텍스트 색상 */
  --text-primary: white;
  --text-secondary: #d3d3d3;
  --text-dark: #333;
  --text-quote: #f5df4d;
  --text-accent: #5b2386;

  /* 그림자 */
  --text-shadow-green: #5e8908;
  --text-shadow-dark: #1a2800;
  --box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.2);

  /* 폰트 */
  --font-base: "GMarketSans", sans-serif;
  --font-quote: "OTEnjoystoriesBA", sans-serif;
  --font-bold: "GmarketSansBold", sans-serif;
  --font-medium: "GmarketSansMedium", sans-serif;
}

@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GMarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "GMarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

.btn {
  color: var(--text-accent);
  font-weight: 700;
  text-align: center;
  background-color: var(--color-accent);
  border: none;
  box-shadow: var(--box-shadow-md);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--color-accent-hover);
}
.btn:active {
  background-color: var(--color-accent-active);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  max-width: 100%;
  height: auto;
}

/* transition: 부드럽게 만들기 */
.header-logo img {
  transition: all 0.5s;
}
.famous-phrase-title,
.famous-phrase,
.input-box,
.click-box,
.result,
.go-box {
  transition: all 1s;
}
